div {
  list-style-type: none;
  text-align: left;
  margin-top: 8px;

}
.nav {
  width: 100%;
  background: grey;
  height: 80px;
  font: var(Geneva);
  font-family: sans-serif;
  text-align: left;
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
}
ul li {
  float: left;
  margin-top: 20px;
}
ul li a {
  width: 150px;
    font-size: 30px;
    display: block;
    text-decoration: orangered;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    border-radius: 0;
    font-weight: lighter;
    font-family:sans-serif;
}
body {
  background: lightgray;
}
button {
  border : none;
  padding-top: 10px;
  padding-bottom: 10px;

  color : white;
  font-weight:bold;
  width : 200px
  margin-bottom: 5px;
  margin-left: 43%;
  border-radius: 5px;
}
#molest-btn {
  background : darkblue;
}
#gender-btn {
  background : darkred;
}
#assist-btn {
  background : darkgreen;
}
footer {
    background-color: rgb(32, 32, 63);
    margin-bottom: 0px;
    height: 40px;
    position: absolute;
    width: 100%;
